{% extends "layout.html" %}

<!-- {% block title %}
    Log In
{% endblock %} -->

{% block main %}
    <div class="container login-window">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <!-- icon from http://www.iconarchive.com/show/100-flat-icons-by-graphicloads.html -->
                <img class="user-icon" src="{{ url_for('static', filename='images/user-icon.png') }}">
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <form action="{{ url_for('login') }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="Password" type="password"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">Log In</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
{% endblock %}