{% extends "layout.html" %}

<!-- {% block title %}
    Log In
{% endblock %} -->

{% block main %}
    <div class="container login-window">
        <div class="row">
            <div class="col">
                <!-- icon from http://www.iconarchive.com/show/100-flat-icons-by-graphicloads.html -->
                <img class="user-icon" src="{{ url_for('static', filename='images/user-icon.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 test">
                <small>test user: test@test.pl password: test1234</small>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Log in</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <form class= "form" action="{{ url_for('login') }}" method="post">
                    <div class="form-group-row">
                        <small>Enter your email address:</small>
                        <input type="email" class="form-control" id="loginEmail" name="username" aria-describedby="emailHelp" placeholder="Enter email" required data-cy="loginEmailInput">
                        <small id="msgEmail" data-cy="loginEmailMsg"></small>
                    </div>
                    <div class="form-group-row">
                        <small>Enter your password.</small>
                        <input type="password" class="form-control" name="password" placeholder="Password" required data-cy="loginPasswordInput">
                    </div>
                    <button type="submit" class="btn btn-color" data-cy="loginSubmitButton">Submit</button>
                </form>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
{% endblock %}